Tuples
Tuplear are ordered collection of items that are immutable. They are similar to lists, but their immutability makes them different

In [1]:
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
numbers = tuple([1,2,3,4,6,7,8])
numbers

(1, 2, 3, 4, 6, 7, 8)

In [4]:
(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)

In [5]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [6]:
mixed_tuple = (1,"hello world",3.14,True)
print(mixed_tuple)

(1, 'hello world', 3.14, True)

In [7]:
#Accesing Tuple Elements
numbers

(1, 2, 3, 4, 6, 7, 8)

In [8]:
numbers[0]

1

In [9]:
numbers[:]

(1, 2, 3, 4, 6, 7, 8)

In [10]:
print(numbers[2])
print(numbers[0:4])

3
(1, 2, 3, 4)

In [11]:
numbers[::-1]

(8, 7, 6, 4, 3, 2, 1)

In [12]:
# tuples Operations
concate = mixed_tuple + numbers
print(concate)

(1, 'hello world', 3.14, True, 1, 2, 3, 4, 6, 7, 8)

In [13]:
mixed_tuple * 3

(1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True,
 1,
 'hello world',
 3.14,
 True)

In [14]:
numbers * 3

(1, 2, 3, 4, 6, 7, 8, 1, 2, 3, 4, 6, 7, 8, 1, 2, 3, 4, 6, 7, 8)

In [15]:
# Immutable Nature of Tuples
# tuples are not changeable once assigned
lst = [1,2,3,4,5]
print(lst)
lst[1] = "krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'krish', 3, 4, 5]

Tuple Methods

In [ ]:
print(numbers.count(1))
print(numbers.index(4))

1
3

In [ ]:
##packing and unpacking tuple
packed_tuple = 1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [ ]:
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [ ]:
# Unpacking with *
numbers = (1,2,3,4,5,6)
first,*middle, last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [ ]:
##Nested Tuple
lst = [[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
print(lst[0][0:4])
print(lst[0][1])
print(lst[1][0])

[1, 2, 3, 4]
2
6

In [ ]:
nested_tuple = ((1,2,3),("a","b","c"),(True,False))
print(nested_tuple[0])
print(nested_tuple[1])

(1, 2, 3)
('a', 'b', 'c')

In [ ]:
for sub_tuple in nested_tuple:
    for item in nested_tuple:
        print(item,end = " ")
    print()

(1, 2, 3) ('a', 'b', 'c') (True, False)
(1, 2, 3) ('a', 'b', 'c') (True, False)
(1, 2, 3) ('a', 'b', 'c') (True, False)

## Coclusion
Tuples are Versatile and useful in many real world scenarios where an immutable and ordered collection of item is required. They are commonly used i n data Structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the effeciently and readability of the code